body {
	margin: 0;
	background-color: #4a4e69;
}

h1, h2, p {
	font-weight: 400;
}

p {
	line-height: 1.5;
}

a {

}

a:hover {

}

h1 {

}

h2 {

}

pre {

}

.text-column {

}

input, button {

}



@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}


